snippet b
	border: ${1:0};
snippet p
	padding: ${1:0};
snippet m
	margin: ${1:0};
snippet cb
	clear: both;
snippet co
	color: ${1:#000};
snippet td
	text-decoration ${1:none};
snippet ff
	font-family: ${1:Verdana, Arial, Helvetica, sans-serif};
snippet fs
	font-size: ${1:14px};
snippet fw
	font-weight: ${1:normal};
snippet ts
	text-shadow: ${1:2px 1px 1px #000}; -webkit-text-shadow: ${1};
